@import url(https://fonts.googleapis.com/css?family=Urbanist:500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Righteous:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
  color: #fff;
}

._icon-search:before {
  content: "\e901";
  color: #fff;
}

._icon-shopping-bag:before {
  content: "\e902";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
  font-family: "Urbanist";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Urbanist";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
  line-height: 1.25;
  background-color: #14110E;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 2.6667rem;
  line-height: 130%;
}

.title_big {
  font-size: 4rem;
  text-transform: capitalize;
}

.text {
  font-size: 0.8889rem;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
}

.text_big {
  font-size: 1.1111rem;
}

.lable {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 1.3333rem;
}

.subtitle {
  color: #C99E71;
  font-weight: 600;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
  background-color: #C99E71;
  padding: 1.3333rem 2.2222rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 32px 0;
  background-color: #1C1814;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
  background-color: rgba(28, 24, 20, 0.6);
}

.header._header-show {
  top: 0;
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
}

.header__container {
  max-width: 1350px;
}

.menu__icon {
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 15;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before,
.menu__icon::after,
.menu__icon span {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0, -50%);
      -ms-transform: scale(1) translate(0, -50%);
          transform: scale(1) translate(0, -50%);
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__logo img {
  max-width: 100%;
}

.menu__list {
  font-family: "Inter";
  font-weight: 400;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.6667rem;
     -moz-column-gap: 2.6667rem;
          column-gap: 2.6667rem;
}

.menu__bag::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

._menu-open .menu__icon span {
  -webkit-transform: scale(0) translate(0, -50%);
      -ms-transform: scale(0) translate(0, -50%);
          transform: scale(0) translate(0, -50%);
}

._menu-open .menu__icon::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

._menu-open .menu__icon::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

._menu-open .menu__body {
  left: 0;
}

._menu-open .menu__body::before {
  top: 0;
}

.menu-search__input {
  width: 0;
}

.menu-search__icon::before {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__top {
  padding: 3.8889rem 0 4.1667rem;
}

.footer__bottom {
  padding: 1.7778rem 0.8333rem;
  background-color: #1C1814;
}

.footer__copyright {
  text-align: center;
  font-size: 0.7778rem;
  line-height: 180%;
}

.top-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.9444rem;
     -moz-column-gap: 1.9444rem;
          column-gap: 1.9444rem;
}

.top-footer__logo {
  max-width: 100%;
}

.top-footer__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.2222rem;
     -moz-column-gap: 2.2222rem;
          column-gap: 2.2222rem;
  row-gap: 0.8333rem;
}

.top-footer__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2rem;
  background-color: #1C1814;
  padding: 0.6667rem 0.6667rem 0.6667rem 0;
}

.form-footer__input {
  padding-left: 1.6667rem;
  padding-right: 1.1111rem;
  background-color: transparent;
  font-size: 0.8889rem;
  line-height: 180%;
  outline: none;
}

.form-footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.form-footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  -moz-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.form-footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  -ms-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.form-footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  -ms-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.form-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.form-footer__input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.form-footer__input:focus::-moz-placeholder {
  opacity: 0;
  transform: translate(-100%, 0);
}

.form-footer__input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
}

.form-footer__input:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
}

.form-footer__input:focus::placeholder {
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.form-footer__button {
  height: 2.6667rem;
  width: 2.6667rem;
  border-radius: 50%;
  background-color: #C99E71;
  -webkit-box-shadow: 0px 22px 44px rgba(201, 158, 113, 0.2);
          box-shadow: 0px 22px 44px rgba(201, 158, 113, 0.2);
  position: relative;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.form-footer__button::before {
  font-size: 0.7778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.main-block {
  padding: 6.9444rem 0 3.8889rem;
}

.main-block__body {
  padding: 8.3333rem 0 9.1667rem;
  position: relative;
}

.main-block__title {
  max-width: 29.3889rem;
}

.main-block__title:not(:last-child) {
  margin-bottom: 1.6667rem;
}

.main-block__text {
  max-width: 28.3889rem;
}

.main-block__text:not(:last-child) {
  margin-bottom: 3.6111rem;
}

.main-block__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main-block__box {
  position: absolute;
  bottom: 19.402985%;
  right: 19.53125%;
}

.main-block__control {
  position: relative;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.8889rem;
  line-height: 118.75%;
  text-transform: uppercase;
}

.main-block__control span:nth-child(2) {
  display: none;
}

.main-block__control._video-active span:nth-child(1) {
  display: none;
}

.main-block__control._video-active span:nth-child(2) {
  display: block;
}

.main-block__control._video-active .main-block__video-button::before {
  -webkit-transform: translate(-25%, -50%) scale(0);
      -ms-transform: translate(-25%, -50%) scale(0);
          transform: translate(-25%, -50%) scale(0);
}

.main-block__control._video-active .main-block__video-button::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.main-block__video-button {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 3.8889rem;
  height: 3.8889rem;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.main-block__video-button::before {
  border: 0.5278rem solid transparent;
  border-left: 1rem solid #fff;
  -webkit-transform: translate(-25%, -50%) scale(1);
      -ms-transform: translate(-25%, -50%) scale(1);
          transform: translate(-25%, -50%) scale(1);
}

.main-block__video-button::before,
.main-block__video-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.no-webp .main-block__video-button::after{
  background: url("../img/icons/pause.png") center/cover no-repeat; }

.main-block__video-button::after {
  height: 18px;
  width: 14px;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.main-block .main-block__title,
.main-block .main-block__text,
.main-block .main-block__button {
  position: relative;
  z-index: 1;
}

.our-pluses {
  padding: 3.8889rem 0 3.8889rem;
}

.our-pluses__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1.8889rem;
}

.our-pluses__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5556rem;
     -moz-column-gap: 0.5556rem;
          column-gap: 0.5556rem;
}

.our-pluses__title span {
  color: #C99E71;
}

.our-pluses__title:not(:last-child) {
  margin-bottom: 1.3333rem;
}

.our-pluses__body {
  position: relative;
  padding-top: 114.75%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.our-pluses__body:hover .our-pluses__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.our-pluses__body:hover .our-pluses__back {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.our-pluses__front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.our-pluses__lable:not(:last-child) {
  margin-bottom: 0.5556rem;
}

.our-pluses__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #C99E71;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 30px;
}

.our-pluses__front,
.our-pluses__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.our-history {
  padding: 3.8889rem 0 3.8889rem;
}

.our-history__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6667rem;
}

.our-history__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6667rem;
}

.our-history__image {
  position: relative;
  padding-top: 100%;
}

.our-history__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.our-history__image_big {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.our-history__column {
  padding: 1.5556rem 3.0556rem;
  background-color: #1C1814;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.our-history__subtitle:not(:last-child) {
  margin-bottom: 0.5556rem;
}

.our-history__title:not(:last-child) {
  margin-bottom: 1.9444rem;
}

.popular-product {
  padding: 3.8889rem 0 3.8889rem;
}

.popular-product__header {
  text-align: center;
}

.popular-product__header:not(:last-child) {
  margin-bottom: 3.0556rem;
}

.popular-product__body:not(:last-child) {
  margin-bottom: 3.0556rem;
}

.popular-product__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1.8889rem;
}

.popular-product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-product {
  text-align: center;
  background-color: #121315;
  padding: 2.6667rem 2.6667rem 1.9444rem;
  display: -ms-grid;
  display: grid;
}

.item-product__image {
  position: relative;
  padding-top: 127.037037%;
}

.item-product__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.item-product__image:not(:last-child) {
  margin-bottom: 1.9444rem;
}

.item-product__rating {
  -ms-grid-column-align: center;
      justify-self: center;
}

.item-product__rating:not(:last-child) {
  margin-bottom: 1.1111rem;
}

.item-product__title {
  text-transform: uppercase;
}

.item-product__title:not(:last-child) {
  margin-bottom: 1.1111rem;
}

.item-product__price {
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.item-product__price span {
  color: #C99E71;
}

.item-product__button {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Urbanist";
  font-weight: 600;
  padding: 0.6667rem 1.1111rem;
  text-transform: none;
  -webkit-column-gap: 0.5556rem;
     -moz-column-gap: 0.5556rem;
          column-gap: 0.5556rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-product__button::before {
  font-size: 1.1111rem;
}

.item-product:hover .item-product__price {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}

.item-product:hover .item-product__button {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.rating-product {
  color: #C99E71;
  font-size: 1.1667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5556rem;
}

.rating-product__subtitle {
  color: #C99E71;
  font-size: 0.8889rem;
  line-height: 118.75%;
  text-transform: uppercase;
}

.rating-product__active::before {
  color: #C99E71;
}

.rating-product__body::before {
  content: "☆☆☆☆☆";
}

.rating-product__value {
  display: none;
}

.coffee-machine {
  padding: 3.8889rem 0 3.8889rem;
}

.coffee-machine__container {
  padding: 70px 80px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6667rem;
  background-color: #1C1814;
}

.coffee-machine__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coffee-machine__image img {
  max-width: 100%;
}

.coffee-machine__content {
  display: -ms-grid;
  display: grid;
  row-gap: 1.9444rem;
}

.our-menu {
  padding: 3.8889rem 0 3.8889rem;
}

.our-menu__header {
  text-align: center;
}

.our-menu__header:not(:last-child) {
  margin-bottom: 3.0556rem;
}

.our-menu__subtitle:not(:last-child) {
  margin-bottom: 0.5556rem;
}

.our-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.9444rem;
  margin: 0 -20px;
}

.our-menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 20px;
}

.item-our-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.1111rem;
     -moz-column-gap: 1.1111rem;
          column-gap: 1.1111rem;
  padding: 1.3333rem;
  border: 1px solid #32323D;
}

.item-our-menu__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72px;
          flex: 0 0 72px;
}

.item-our-menu__image img {
  max-width: 72px;
}

.item-our-menu__lable {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-our-menu__price {
  color: #C99E71;
  font-weight: 600;
}

.customers {
  padding: 3.8889rem 0 3.8889rem;
}

.customers__header {
  text-align: center;
}

.customers__header:not(:last-child) {
  margin-bottom: 3.0556rem;
}

.customers__wrapper:not(:last-child) {
  margin-bottom: 1.9444rem;
}

.swiper-customers__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-customers__column_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.8333rem;
     -moz-column-gap: 0.8333rem;
          column-gap: 0.8333rem;
}

.swiper-customers__total {
  padding-right: 0.2778rem;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.slide-customer {
  padding: 2.2222rem;
  background-color: #1C1814;
}

.slide-customer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3889rem;
}

.slide-customer__header:not(:last-child) {
  margin-bottom: 1.6667rem;
}

.slide-customer__image img {
  max-width: 100%;
}

.slide-customer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.6667rem;
}

.slide-customer__name:not(:last-child) {
  margin-bottom: 0.2778rem;
}

.slide-customer__status {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.7778rem;
  text-transform: capitalize;
}

.slide-customer__rating {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.rating-customer {
  font-size: 1.1111rem;
}

.rating-customer__active::before {
  color: #FAA61A;
}

.rating-customer__body::before {
  content: "★★★★★";
}

.rating-customer__value {
  display: none;
}

.rating-body {
  position: relative;
}

.rating-body::before {
  display: block;
}

.rating-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating-item {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating-active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rating-active::before {
  content: "★★★★★";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slider__fraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #C99E71;
  font-weight: 600;
  font-size: 1.1111rem;
  line-height: 135%;
}

.swiper-slider__fraction:not(:last-child) {
  margin-bottom: 0.5556rem;
}

.swiper-pagination {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  position: relative;
}

.swiper-pagination-progressbar-fill {
  background-color: #C99E71;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.swiper-button-prev,
.swiper-button-next {
  width: 3.1111rem;
  height: 3.1111rem;
  background-color: #C99E71;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  color: #121315;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.swiper-button-next::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-button-disabled {
  background-color: #121315;
}

.swiper-button-disabled::before {
  color: #fff;
}

.form-booking {
  padding: 3.8889rem 2.7778rem;
  background-color: #1C1814;
}

.form-booking__header {
  text-align: center;
}

.form-booking__header:not(:last-child) {
  margin-bottom: 3.0556rem;
}

.form-booking__subtitle:not(:last-child) {
  margin-bottom: 0.5556rem;
}

.form-booking__body {
  display: -ms-grid;
  display: grid;
  row-gap: 1.3889rem;
}

.form-booking__body:not(:last-child) {
  margin-bottom: 3.0556rem;
}

.form-booking__input {
  padding: 0.8333rem 1.1111rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  line-height: 180%;
  text-transform: capitalize;
  background-color: #14110E;
  outline: none;
}

.form-booking__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news {
  padding: 3.8889rem 0 3.8889rem;
}

.news__header {
  text-align: center;
}

.news__header:not(:last-child) {
  margin-bottom: 3.0556rem;
}

.news__subtitle:not(:last-child) {
  margin-bottom: 0.5556rem;
}

.news__body {
  display: -ms-grid;
  display: grid;
  gap: 1.9444rem;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.item-news {
  display: -ms-grid;
  display: grid;
}

.item-news__image {
  position: relative;
  padding-top: 98.360656%;
  overflow: hidden;
}

.item-news__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: -webkit-transform 0.8s ease 0s;
  transition: -webkit-transform 0.8s ease 0s;
  -o-transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s;
  transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
}

.item-news__image:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.item-news__body {
  padding: 20px 24px 24px;
  background-color: #1C1814;
  display: -ms-grid;
  display: grid;
}

.item-news__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-news__info:not(:last-child) {
  margin-bottom: 0.8333rem;
}

.item-news__author span {
  color: #C99E71;
}

.item-news__title {
  font-family: "Righteous";
  font-weight: 400;
  font-size: 1.1111rem;
  line-height: 150%;
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-news__title:not(:last-child) {
  margin-bottom: 1.6667rem;
}

.item-news__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8333rem;
     -moz-column-gap: 0.8333rem;
          column-gap: 0.8333rem;
  color: #C99E71;
  font-size: 16px;
  line-height: 118.75%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-news__link::after {
  content: "\e900";
  font-family: "icons";
  color: #C99E71;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .our-history__images {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 630px;
            flex: 0 1 630px;
  }

  .our-history__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 510px;
            flex: 0 1 510px;
  }

  .coffee-machine__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 535px;
            flex: 0 1 535px;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .booking__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .booking__map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .booking__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (min-width: 61.99875em) {
  .menu__icon {
    display: none;
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 1.3889rem;
       -moz-column-gap: 1.3889rem;
            column-gap: 1.3889rem;
  }

  .menu__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-column-gap: 2.6667rem;
       -moz-column-gap: 2.6667rem;
            column-gap: 2.6667rem;
  }

  .menu__column_right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 2.6667rem;
       -moz-column-gap: 2.6667rem;
            column-gap: 2.6667rem;
    row-gap: 0.8333rem;
  }

  .slide-customer__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.2222rem;
            flex: 0 0 7.2222rem;
  }
}

@media (min-width: 479.98px) {
  .item-our-menu {
    min-width: 350px;
  }
}

@media (max-width: 539.98px) {
  .title_big {
    font-size: 32px;
  }

  .text_big {
    font-size: 0.8889rem;
  }

  .main-block__box {
    bottom: 3%;
    right: 10%;
  }
}

@media (max-width: 479.98px) {
  .item-our-menu__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48px;
            flex: 0 0 48px;
  }

  .item-our-menu__image img {
    max-width: 48px;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 1.5556rem;
  }

  .header {
    padding: 22px 0;
  }

  .menu__body {
    position: fixed;
    left: -200%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #121315;
    overflow: auto;
    padding: 80px 15px 0;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #C99E71;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu__column:not(:last-child) {
    margin-bottom: 1.6667rem;
  }

  .menu__logo {
    display: none;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.6667rem;
  }

  .menu__link {
    font-size: 1.7778rem;
  }

  .slide-customer {
    padding: 0.8333rem;
  }

  .slide-customer__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide-customer__image {
    max-width: 5rem;
  }

  .form-booking {
    padding: 1.6667rem 0.8333rem;
  }
}

@media (max-width: 47.99875em) {
  .top-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.6667rem;
  }

  .top-footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .our-history__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .our-history__column {
    padding: 1.6667rem 0.8333rem;
    margin: 0 -15px;
  }

  .coffee-machine__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 35px 15px;
  }

  .coffee-machine__content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
  }

  .item-our-menu__lable {
    font-size: 1.1111rem;
  }

  .form-booking__input {
    padding: 0.5556rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 0px 22px 44px rgba(201, 158, 113, 0.2);
            box-shadow: 0px 22px 44px rgba(201, 158, 113, 0.2);
  }

  .menu__link:hover {
    color: #C99E71;
  }

  .menu__bag:hover::before {
    color: #C99E71;
  }

  .menu-search__icon:hover::before {
    color: #C99E71;
  }

  .top-footer__link:hover {
    color: #C99E71;
  }

  .form-footer__button:hover {
    background-color: #fff;
  }

  .form-footer__button:hover::before {
    color: #C99E71;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: #fff;
  }

  .swiper-button-prev:hover::before,
  .swiper-button-next:hover::before {
    color: #121315;
  }

  .item-news__title:hover {
    color: #C99E71;
  }

  .item-news__link:hover {
    color: #fff;
  }

  .item-news__link:hover::after {
    color: #fff;
  }
}

.webp .main-block__video-button::after{ background: url(../img/icons/pause.webp) center/cover no-repeat; }